<div class="container" id="route">
	<div class="mb-3">
		<p><b>Nombre: </b>{{route.name}}</p>
	</div>
	<div class="mb-3">
		<p><b>Descripción: </b>{{route.description}}</p>
	</div>
	<div class="mb-3">
		<p><b>Autor: </b>{{route.author}}€</p>
	</div>
	<div class="mb-3">
		<p><b>Imagen: </b><img src="{{route.image}}" alt="Route image"></p>
	</div>
	{{#if canEdit}}
	<div class="mb-3">
		<a href="/route/{{route._id}}/edit" class="btn btn-primary">Editar</a>
		<a href="/route/{{route._id}}/delete" class="btn btn-warning">Eliminar</a>
	</div>
	{{/if}}
</div> 