<div class="main-img">
  <div style="background: url(https://i.postimg.cc/3N7wnb75/background.jpg)" class="bg-profile jumbotron text-white">
    <div class="container py-5 text-center">

      <h1 class="display-4 font-weight-bold">Bienvenido a tu perfil<br> {{currentUser.nickName}}</h1>
      </p>
      <div class="image-div-flex ">
        <div class="profile-img mx-auto" data-image="{{currentUser.imgProfile}}"
          style="background:url('{{currentUser.imgProfile}}')" alt="Profile Picture">
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="space-profile row">
    <div class="col">
      <form action="/users/editProfile" method="GET"><button class="btn-edit btn btn-outline-danger">🖊️ Editar
          Perfil</button> </form>
    </div>
    <div class="col">
      <form action="/users/wishlist" method="GET"><button class="btn-fav btn btn-outline-danger">❤️ Mis Rutas
          Favoritas</button></form>
    </div>
    <div class="col">
      <form action="/users/delete" method="POST"> <button class="btn-del btn btn-outline-danger">☠️ Borrar
          Cuenta</button></form>
    </div>
  </div>
</div>

<div class="button-edit-profile row">
</div>

<hr class="hr-profile">

{{!-- FORMULARIO DE LA IZQUIERDA CON NOMBRE EMAIL MOVIL PAIS FECHA DE NACIMIENTO... --}}
<div class="container">
  <form>
    <div class=" form-group row">
      <div class="col-6">
        <p class="espace-user text-right">Nombre de usuario:</p>
        <p class="espace-user text-right">Dirección de correo electronico: </p>
        <p class="espace-user text-right">País: </p>
        <p class="espace-user text-right">Fecha de nacimiento: </p>
        <p class="espace-user text-right">Sobre mi: </p>
      </div>
      <div class="col-6">
        <p class="espace-user">{{currentUser.nickName}}</p>
        <p class="espace-user">{{currentUser.email}}</p>
        <p class="espace-user">{{currentUser.country}}</p>
        <p class="espace-user">{{currentUser.birth}}</p>
        <p class="espace-user">{{currentUser.aboutMe}}</p>
      </div>
    </div>
  </form>
</div>

<div class="espace-footer-user">

</div>