<h2>Routes2</h2>
<form action="/tracks" method="GET">
<section id="tracks">
    {{#each tracks as |track|}}
    <div class="track">
    <h3>
        <span class="track__title">Titulo: {{track.title}}</span>,by <span class="track__author">{{track.author}}</span>
    </h3>
    <p class="track__description">Descripción: {{track.description}}</p>
    <img class="track__image" alt="track image" src="{{track.image}}">
    <div class="track__tags">
        {{#each track.tags as |tag|}}
        <p class="track__tag">{{tag}}</p>
        {{/each}}
    </div>
    {{/each}}
    </div>

</section>
</form>

