<div class="container-fluid">
    <h1 class="align-center"> Routes</h1>
    <section id="tracks">
        {{#each tracks as |track|}}
        <div class="track">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-horizontal">

                            <div class="card-body">
                                <div class="track__title">
                                    <a href="/tracks/{{track._id}}/">
                                        <h4>Titulo: {{track.title}}</h4>
                                    </a>
                                </div>
                                <p class="track__description">Descripción: {{track.description}}</p>
                                <p class="track__description">Caterogia: {{track.categories}}</p>
                                <p class="track__description">Dificultad: </p>
                                <p class="track__description">Valoración: </p>

                            </div>
                            <img class="box-track-img" src="{{track.image}}" alt="track image">
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Subido por {{track.nickname}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </section>
</div>