<div class="container">
	<form action="/tracks/create" method="POST" onsubmit="addPathToForm(this)" enctype="multipart/form-data">
		<div class="spacetracktop mb-3">
			<h3 for="name" class="form-label">Nombre de la Ruta</h3>
			<input type="text" labelme="title" name="title" value="{{track.title}}"
				class="form-control {{#if errors.name}}is-invalid{{/if}}" id="name" required>
			{{#if errors.name}}
			<div class="invalid-feedback">
				{{errors.name}}
			</div>
			{{/if}}
		</div>

		<div class="mb-3">
			<label for="categories" class="form-label">Categoría</label>
			<select name="categories">
				<option selected value="0"> Elige una categoría </option>
				{{#each categories as |category|}}
				<option value="{{ category }}">{{ category }}</option>
				{{/each}}
			</select>
		</div>

		<div id="map"></div>

		<div class="spacedescription mb-3">
			<h3 for="description" class="form-label">Descripción</h3>
			<input class="textarea" type="text" name="description" value="{{track.description}}"
				class="form-control {{#if errors.description}}is-invalid{{/if}}" id="description" required>
			{{#if errors.description}}
			<div class="invalid-feedback">
				{{errors.description}}
			</div>
			{{/if}}
		</div>
		{{!-- //==================================================== --}}
		<h3 for="description" class="form-label">Sube tu imagen favorita</h3>
		<label class="filelabel">
			<i class="fa fa-paperclip">
			</i>
			<span class="title">
				Add File
			</span>
			<input class="FileUpload1" id="FileInput" name="image" value="{{track.image}}" type="file" />
		</label>
		{{!-- //==================================================== --}}
		<div class="butoncrearruta">
			<button type="submit" class="btn btn-primary container">Crear Ruta</button>
		</div>
	</form>
</div>
<div class="divacio">

</div>

<script src="/js/map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap&libraries=&v=weekly"
	async></script>

<script>
	var decodedJson = decodeURIComponent("{{{pointsJSON}}}");
	var jsonObj = JSON.parse(decodedJson);
	window.points = jsonObj;
</script>
