<div>
<div class="container" id="route">
  <h1>{{track.title}}</h1>
  <div class="map-wrapper">
    <div id="map" {{!-- style="pointer-events: none;" --}}>

    </div>
  </div>


  <div class="card" style="width: 22rem; mt-5 ">
    <div class="card-body">
      <h5 class="card-title">Datos</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="mb-3">
          <p><b>Autor: </b>{{track.author.email}}</p>
        </div>
      </li>
      <li class="list-group-item">
        <div class="mb-3">
          <p><b>Distancia: </b>{{track.distance}}</p>
        </div>
      </li>
      <li class="list-group-item">
        <div class="mb-3">
          <p><b>Descripción: </b>{{track.description}}</p>
        </div>
      </li>

      <li class="list-group-item">
        <div class="mb-3">
          <p><b>Valoración: </b></p>
        </div>
      </li>
    </ul>
  </div>

  <form method="POST" action="/tracks/{{track._id}}/comments">
    <div class="mb-3">
      <label for="comments" class="form-label">Añade tu Opinión sobre esta ruta</label>
      <input type="textArea" name="message" class="form-control {{#if errors.comments}}is-invalid{{/if}}" id="comments">

      <div class="add-opinion align-end text-center">
        <button class="btn btn-primary" type="submit">Enviar opinión <span
            class="fa fa-check nt-w ml-2"></span></button>
      </div>
  </form>



  {{#if errors.comments}}
  <div class="invalid-feedback">
    {{errors.comments}}
  </div>
  {{/if}}
</div>



{{#if isAuthor}}
<div class="align-items-center">
  <div class="btn-group ">
    <form action="/tracks/{{track._id}}/delete" class="col-8 px-10" method="POST">
      <button class="btn btn-danger">Borrar Track</button>
    </form>
    <form action="/tracks/{{track._id}}/edit" class="col-8" method="GET">
      <button class="btn btn-danger">Editar Track</button>
    </form>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="coments">Comentarios</h3>

      {{/if}}



      {{#each track.comments }}
      <div>
        <div class="flex-row align-items-center mb-3">
          <p>{{user.nickName}} {{this.message}}</p>
        </div>
      </div>
      <hr>
      {{/each}}
    </div>
  </div>
</div>
</div>



<script>
  var decodedJson = decodeURIComponent("{{{pointsJSON}}}");
  var jsonObj = JSON.parse(decodedJson);
  window.points = jsonObj;
</script>

<script src="/js/map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap&libraries=&v=weekly"
  async></script>