<div class="container" id="route">
	<h1>{{track.title}}</h1>

	<form method="POST" action="/tracks/{{track._id}}/edit" onsubmit="addPathToForm(this)"
		enctype="multipart/form-data">
		<div class="spacetracktop mb-3">
			<h3 for="name" class="form-label">Nombre de la Ruta</h3>
			<input type="text" name="title" value="{{track.title}}"
				placeholder="Ejemplo: GR-11.9 (Aragón) Collado de Arrablo - Collado de Anisclo (Faja de Olas)"
				class="form-control {{#if errors.name}}is-invalid{{/if}}" id="name" required>
			{{#if errors.name}}
			<div class="invalid-feedback">
				{{errors.name}}
			</div>
			{{/if}}
		</div>

		<div class="mb-3">
			<label for="categories" class="form-label">Categoría</label>
			<select name="categories">
				{{!-- <option selected value="0"> Elige una categoría </option> --}}
				{{#each categories as |category|}}
				<option value="{{ category }}">{{ category }}</option>
				{{/each}}
			</select>
		</div>
		<div class="mb-3">
			<label for="valoracion" class="form-label">Valoración</label>
			<select name="valoracion">
				{{!-- <option selected value="0"> Elige una categoría </option> --}}
				{{#each valoracion as |valoracion|}}
				<option value="{{ valoracion }}">{{ valoracion }}</option>
				{{/each}}
			</select>
		</div>
		<div class="mb-3">
			<label for="dificultad" class="form-label">Dificultad</label>
			<select name="dificultad">
				{{!-- <option selected value="0"> Elige una categoría </option> --}}
				{{#each dificultad as |dificultad|}}
				<option value="{{ dificultad }}">{{ dificultad }}</option>
				{{/each}}
			</select>
		</div>

		<div id="map"></div>

		<div class="spacedescription mb-3">
			<h3 for="description" class="form-label">Descripción</h3>
			<textarea class="textarea" {{!-- type="text" --}} name="description" value="{{track.description}}"
				class="form-control {{#if errors.description}}is-invalid{{/if}}" id="description"
				required>{{track.description}}</textarea>
			{{#if errors.description}}
			<div class="invalid-feedback">
				{{errors.description}}
			</div>
			{{/if}}
		</div>
		{{!-- //==================================================== --}}
		<div class="row">
			<div class="col-6">

				<h3 for="description" class="form-label" required>Sube tu imagen favorita</h3>
				<label class="filelabel">
					<i class="fa fa-paperclip">
					</i>
					<span class="title">
						Add File
					</span>
					<input class="FileUpload1" id="FileInput" name="image" value="{{track.image}}" type="file" />
				</label>
				{{!-- //==================================================== --}}
			</div>
			<div class="col-6">
				<h1>
					<svg class="c-dashed-line" width="580" height="240">
						<defs>
							<path id="c-dashed-line" d="M875 0s5 120-435 120-435 120-435 120" />
						</defs>
						<!-- A solid green line that we'll animate -->
						<use class="c-dashed-line__path" xlink:href="#c-dashed-line" />
						<!-- A dashed white line that sits on top of the solid green line -->
						<use class="c-dashed-line__dash" xlink:href="#c-dashed-line" />
					</svg>

				</h1>
			</div>
			<div class="container butoncrearruta">

				<button class="btn btn-primary btn-block p-3 mt-5 btn-naturet nt-f" type="submit">Save Changes <span
						class="fa fa-check nt-w ml-2"></span></button>
			</div>
		</div>
	</form>
</div>
<div class="divacio">

</div>
</form>
</div>
<script src="/js/map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap&libraries=&v=weekly"
	async></script>

<script>
	var decodedJson = decodeURIComponent("{{{pointsJSON}}}");
	var jsonObj = JSON.parse(decodedJson);
	window.points = jsonObj;
</script>