<div class="container">
	<form action="/tracks/create" method="POST" onsubmit="addPathToForm(this)" enctype="multipart/form-data">
		<div class="mb-3">
			<label for="name" class="form-label">Nombre</label>
			<input type="text" name="title" value="{{track.title}}"
				class="form-control {{#if errors.name}}is-invalid{{/if}}" id="name" required>
			{{#if errors.name}}
			<div class="invalid-feedback">
				{{errors.name}}
			</div>
			{{/if}}
		</div>

		<div class="mb-3">
			<label for="categories" class="form-label">Categoría</label>
			<select name="categories">

				<option selected value="0"> Elige una categoría </option>
				{{#each categories as |category|}}

				<option value="{{ category }}">{{ category }}</option>

				{{/each}}

			</select>

		</div>
		{{!-- <div class=>
			<input type="string" name="lat" value="{{lat}}" />
			<input type="string" name="lng" value="{{lng}}" />
		</div> --}}
		<div id="map"></div>

		<div class="form-group">
			<div style="display:none;">
				<label>Latitud: </label>
				<span id="x"></span>
				<label>Longitud: </label>
				<span id="y"></span>
			</div>
			<div class="row p-3">
				<input id="address" class="form-control col-12" type="textbox"
					placeholder="Introduce aquí el sitio que quieres buscar" />
				<button type="button" class="col-xl-6 col-md-6 col-12 btn btn-primary mt-3 w-50 btn-naturet nt-f"
					value="Localizar" onclick="codeAddress()">Search city</button>
			</div>
		</div>


		<div class="mb-3">
			<label for="description" class="form-label">Descripción</label>
			<input type="text" name="description" value="{{track.description}}"
				class="form-control {{#if errors.description}}is-invalid{{/if}}" id="description" required>
			{{#if errors.description}}
			<div class="invalid-feedback">
				{{errors.description}}
			</div>
			{{/if}}
		</div>
		<div class="mb-3">
			<label for="image" class="form-label">Imagen</label>
			<input type="file" name="image" value="{{track.image}}"
				class="form-control {{#if errors.image}}is-invalid{{/if}}" id="image">
			{{#if errors.image}}
			<div class="invalid-feedback">
				{{errors.image}}
			</div>
			{{/if}}
		</div>
		<button type="submit" class="btn btn-primary">Crear Ruta</button>
	</form>

</div>

<script src="/js/map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap&libraries=&v=weekly"
	async></script>

	<script>
  var decodedJson = decodeURIComponent("{{{pointsJSON}}}");
  var jsonObj = JSON.parse(decodedJson);
  window.points = jsonObj;
</script>

<!--hay que configurarlo para la route-->