<div class="topdetailtrack">
  <div class="container" id="route">
    <h1>{{track.title}}</h1>
    <div class="map-wrapper">
      <div id="map" {{!-- style="pointer-events: none;" --}}>

      </div>
    </div>
    <div class="botonesdetail row d-flex justify-content-center">

      <div></div>
      {{#if isAuthor}}
      <div class="botonesdetail">
        <div class="btn-group ">
          <form action="/tracks/{{track._id}}/delete" class="col-6 " method="POST">
            <button class="btn btn-success">☠️ Borrar Track</button>
          </form>
          <form action="/tracks/{{track._id}}/edit" class="col-6" method="GET">
            <button class="btn btn-success">🖊️ Editar Track</button>
          </form>
        </div>
      </div>
      {{/if}}

    </div>

    <hr class="hr">
    <div class="row">

      <div class="col-3">
        <div class="detailinfotracksize">
          <p class="pespacio"><b>Autor: </b></p>
      
          <p class="pespacio" ><b>Dificultad: </b></p>
          <p class="pespacio"><b>Valoración: </b></p>
          <p class="pespacio"><b>Categoria: </b></p>
          
        </div>

      </div>
      <div class="col-3">
        <div class="detailinfotrack">
          <div class="detailinfotracksize">
            <p class="pespacio">{{track.author.email}}</p>
            <p class="pespacio">{{track.dificultad}}</p>
            <p class="pespacio">{{track.valoracion}}</p>
            <p class="pespacio">{{track.categories}}</p>
          </div>
        </div>

      </div>
      <div class="col-6">
        <p class="nombreimagen"><b>Imagen: </b></p>
        <img class="box-track-img-detail"
          src="{{#if track.image}}{{track.image}}{{else}}https://res.cloudinary.com/drls3a8oi/image/upload/v1615296976/IRON%20HACK/MountainMadness/hope-MSgLEgdIUiA-unsplash_rb6wua.jpg{{/if}}"
          alt="track image">
      </div>


    </div>

    <div class="descriptiondetailtrack col-12">
      <p><b>Descripción: </b></p>
      <text class="text" {{!-- type="text" --}} name="description" placeholder="Detalla tu ruta lo máximo posible"
        class="form-control {{#if errors.description}}is-invalid{{/if}}" id="description"
        required>{{track.description}}</text>
    </div>
    <hr class="hr">

    <form method="POST" action="/tracks/{{track._id}}/comments">
      <div class="comentarious">
        <label for="comments" class="form-label "><b>Añade tu Opinión sobre esta ruta</b></label>
        <input type="textArea" name="message" class="form-control {{#if errors.comments}}is-invalid{{/if}}"
          id="comments">

        <div class="add-opinion align-end text-center">
          <button class="btn btn-primary" type="submit">Enviar opinión <span
              class="fa fa-check nt-w ml-2"></span></button>
        </div>
    </form>

    <hr class="hr">



    {{#if errors.comments}}
    <div class="invalid-feedback">
      {{errors.comments}}
    </div>
    {{/if}}
  </div>



  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="coments">Comentarios</h3>




        {{#each track.comments }}
        <div>
          <div class="flex-row align-items-center mb-3">
            <p>{{user.nickName}} {{this.message}}</p>
          </div>
        </div>
        <hr>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="space-profile">

</div>
<script>
  var decodedJson = decodeURIComponent("{{{pointsJSON}}}");
  var jsonObj = JSON.parse(decodedJson);
  window.points = jsonObj;
</script>

<script src="/js/map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap&libraries=&v=weekly"
  async></script>